.page {
  background: $uni-bg-color;
}

.dis-ib {
  display: inline-block;
}

.dis-b {
  display: block;
}
.dis-i {
  display: inline;
}

.dis-c {
  display: contents;
}

.w100vw {
  width: 100vw;
}

.w100vh {
  height: 100vh;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-sub {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.bg-white {
  background: #fff;
}

.border {
  border: 1rpx solid rgba(228, 231, 237, 1);
}

.border-top {
  border-top: 1rpx solid rgba(228, 231, 237, 1);
}

.border-bottom {
  border-bottom: 1rpx solid rgba(228, 231, 237, 1);
}

.border-left {
  border-left: 1rpx solid rgba(228, 231, 237, 1);
}

.border-right {
  border-right: 1rpx solid rgba(228, 231, 237, 1);
}

.text-left {
  text-align: left;
}
