.page {
  background: $uni-bg-color;
}

.w100vw {
  width: 100vw;
}

.w100vh {
  height: 100vh;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-sub {
  flex: 1;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}
